/space_starter_kit_0
/.vscode
/venv
.vscode/
__pycache__/main.cpython-38.pyc
__pycache__/settings.cpython-38.pyc
__pycache__/ship.cpython-38.pyc
__pycache__/ships.cpython-38.pyc
__pycache__/sounds.cpython-38.pyc
__pycache__/UI.cpython-38.pyc
